@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<p><strong>NOTE:</strong> You need to have at least one restaurant before you can add a review!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Restaurant") to create a restaurant.</p>

<h4>Add a new review</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Critic)
  @Html.TextBoxFor(model => model.Critic)
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)
  @Html.LabelFor(model => model.Entry)
  @Html.TextBoxFor(model => model.Entry)
  
  @Html.LabelFor(model => model.Restaurant)
  @Html.DropDownList("RestaurantId")
  <input type="submit" value="Add new reviews" />
}
<p>@Html.ActionLink("Show all reviews", "Index")</p>