@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<h4>Add a new review</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Critic)
  @Html.TextBoxFor(model => model.Critic)
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)
  @Html.LabelFor(model => model.Entry)
  @Html.TextBoxFor(model => model.Entry)
  <input type="submit" value="Add new review" />
}
<p>@Html.ActionLink("Show all reviews", "Index")</p>